---
import { siteTitle } from "@layouts/Layout.astro";
---

<header class=" bg-giray py-4">
    <div class="flex items-center justify-left md:justify-between ml-6 md:ml-0">
      <a href="/" class="flex items-center justify-center m-auto">
        <div class="w-9 h-9 md:w-16 md:h-16 flex items-center">
          <img
            src="/images/zirtaro.png"
            width={68}
            height={68}
            alt="girataro"
            class="bg-white rounded-full"
          />
        </div>
        <h1 class="text-white text-xl md:text-4xl ml-6 hover:text-orange-400 duration-300">
          {siteTitle}
        </h1>
      </a>
      <div class="flex space-x-2 md:space-x-4 mr-4 md:mr-10 items-center">
        <a href="https://twitter.com/giranaga">
          <img
            src="/images/x-logo-white.png"
            width={40}
            height={40}
            alt="Twitter"
            class="w-8 h-8 md:w-14 md:h-14 flex items-center justify-center p-2"
          />
        </a>
        <a href="https://github.com/matsunagadaiki151">
          <img
            src="/images/github-mark-white.png"
            width={40}
            height={40}
            alt="github"
            class="w-8 h-8 md:w-14 md:h-14 flex items-center justify-center"
          />
        </a>
      </div>
    </div>
  </header>