---
import Pagination from "./Pagination.astro";
import { Message, SiteTitle } from "../lib/constant";
import React from "react";
import type { TMainPage } from "../types/postData";
import Layout, { pageTitle } from "@layouts/Layout.astro";
import BlogLists from "./BlogLists.astro";
import SideBar from "./SideBar.astro";
import Footer from "./Footer.astro";

type Props = TMainPage;

const { allPostsData, totalCount } = Astro.props;
---
<Layout pageTitle={pageTitle}>
  <div class="mt-8 flex p-8 flex-col mx-auto md:flex-row max-w-screen-xl justify-center">
    <BlogLists allPostsData={allPostsData} />
    <SideBar message={Message} />
  </div>
  <Pagination totalCount={totalCount}></Pagination>
</Layout>
