---
import Footer from "@components/Footer.astro";
import Document from "./Document.astro";
import Header from "@components/Header.astro";

const name = "giranaga";
export const siteTitle = "Girataro Times"
export const pageTitle = Astro.props;

---

<Document>
  <div class="font-body text-giray">
    <Header />
    <main>
     <slot />
    </main>
    <Footer />
  </div>
</Document>
